[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Comment=android studio client
Exec=/opt/android-studio/bin/studio.sh
Icon=/opt/android-studio/bin/studio.png
Terminal=false
Categories=Application;
StartupNotify=true

